* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: white;
}

body {
	overflow: auto;
	height: 100%;
	width: 100%;
	padding-bottom: 60px;
	font-family: "Microsoft YaHei", "iconfont" !important;
}

i {
	font-style: normal;
	width: 15px;
	height: 15px;
}

p {
	display: inline;
}

.hr {
	background: #F1F1F1;
	width: 100%;
	height: 16px;
}

.head {
	height: 120px;
	background-color: green;
}

.head a {
	padding-top: 27px;
	height: 100px;
	display: block;
}

.head img {
	width: 70px;
	border-radius: 70px;
}

.head p {
	left: 148px;
	top: 18px;
	float: left;
	position: relative;
	font-size: 30px;
}

.head .weui_cell {
	background: green;
}

.waiting {
	height: 150px;
	width: 100%;
	/*background: red;*/
	bottom: 0;
	left: 0;
	border-top: 0.5px solid #999;
}

.waiting div {
	width: 20%;
	float: left;
}

.waiting a {
	/*padding-top: 5px;*/
	margin: 0 auto;
	text-decoration: none;
	display: block;
	color: #666;
	font-size: 2em;
	text-align: center;
}

.waiting i {
	display: block;
	width: 197px;
	height: 93px;
	font-size: 75px;
	margin: 0 auto;
}

.footer {
	width: 100%;
	height: 90px;
	line-height: 90px;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 0.5px solid #999;
	z-index: 999;
}

.footer div {
	float: left;
	width: 25%;
}

.footer a {
	/*padding-top: 5px;*/
	text-decoration: none;
	display: block;
	color: #666;
	font-size: 2em;
	text-align: center;
}