*{
	margin: 0;
	padding: 0;
}

div{
	margin: 0 auto;
	width: 82%;
	margin-top: 60px;
	height: 40px;
}
.selected{
	background: #FFD109;
}
ul{
	list-style: none;
}
ul li{
	height: 80px;
	width: 80px;
	margin: 10px;
	float: left;
}
ul li a{
	height: 70px;
	width: 70px;
	line-height: 70px;
	float: left;
	text-decoration: none;
	display: block;
	border: 2px solid #E0E0E0;
	border-radius: 8px;
	text-align: center;
	color: gray;
	background: white;
}
ul li a:hover{
	background: #FFD109;
}
