*{
	margin: 0;
	padding: 0;
}

.nav{
	width: 90%;
	height: 50px;
	margin: 0 auto;
	background: #faa819;
	margin-top: 20px;
}


ul{
	list-style: none;	
}

ul li a{
	color: white;
	line-height: 50px;
	float: left;
	text-decoration: none;
	padding-left: 130px;
}
