*{
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
}

@keyframes colorChange{
	0%{
		background-color: white;
	}
	50%{
		background-color: greenyellow;
	}
	100%{
		background-color: aquamarine;
	}
}
figure{
	width:33%;
	height:350px;
	background-color: red;
	animation: colorChange 2s infinite;
	overflow: hidden;
	float: left;
	position: relative;
}
img{
	width: 100%;
	height: 100%;
	
}

img,p,div,span{
	transition: all 2s;
}


/*************music*****************************/
.musicbtn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	/*animation: ;*/
	
}
