*{
	margin: 0;
	padding: 0;
}
.header1{
	height: 30px;
	width: 100%;
	background-color:gainsboro;
}
.header1 .content{
	list-style: none;
	height: 30px;
}
.header1 .content ul{
	float: right;
	list-style: none;
	height: 30px;
}

.header1 .content ul li{
	float: left;
	line-height: 30px;
	color: gray;
}
.header1 .content ul li a{
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}
.header2 .content{
	height: 120px;
	background-color: white;
	padding-left: 60px;
	width:900px;
}
.header2 .content a{
	height: 120px;
	width: 120px;
	/*转成块级元素*/
	display: block;
	position: absolute;
	float: left;
}
.header2 .content a:nth-child(1){
	background: url(../img/wph.png) no-repeat 0px 20px;
}
.header2 .content a:nth-child(2){
	background: url(../img/100good.jpg) no-repeat center center;
	background-color: red;
	right: 370px;
}
.header2 .content a:nth-child(3){
	background: url(../img/7day.jpg) no-repeat center center;
	background-color: green;
	right: 250px;
}
.header2 .content a:nth-child(4){
	background: url(../img/sendBack.jpg) no-repeat center center;
	background-color: yellow;
	right: 130px;
}
.header2 .content a:nth-child(5){
	line-height: 120px;
	color: gray;
	font-size: 20px;
	right: 0;
	text-align: center;
}

